---
layout: default
title: "Luxury property investments across Asia - Realestasia"
---

{% include home_hero.html %}

<div class="section2">
	<div class="wrapper">
	</div>
</div>

<div class="section3">
  <div class="wrapper">
    <div class="clearfix">
{% for post in site.posts %}
    {% capture thecycle %}{% cycle '', '', 'no-margin-r' %}{% endcapture %}
    {% include partials/listing_3up.html extra_class=thecycle %}
{% endfor %}
    </div>
  </div>
</div>
<script type="text/javascript">
mixpanel.track("Homepage viewed");
</script>