<!--[if lt IE 8]> <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 oldie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Luxury property investments across Asia - Realestasia</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/style.css" />
<meta name="viewport" content="width=1000;"/>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/carousel.js"></script>

<!--
<script type="text/javascript" src="/js/jquery.jcarousel-core.min.js"></script>
<script type="text/javascript" src="/js/jcarousel.connected-carousels.js"></script>

<script type="text/javascript" src="/assets/lightbox/js/jquery.lightbox-0.5.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/lightbox/css/jquery.lightbox-0.5.css" media="screen" />
-->

<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->

</head>