  <header>
    <div class="wrapper">
      <a id="logo" href="/" alt="Realestasia home"></a>  
      <nav>
<!--
        <a href="/philippines/" alt="Philippines properties"><span>Philippines</span></a>
        <a href="/thailand/" alt="Thailand properties"><span>Thailand</span></a>
        <a href="/malaysia/" alt="Malaysia properties"><span>Malaysia</span></a>
-->
      </nav>
      
      <nav class="right">
        <!--<button class="btn btn-success">List your property</button>-->
      </nav>
    </div>
  </header>
