      <div class="slide3 {{ include.extra_class}}">
        <a href="{{ post.url }}">
            <img src="{{ site.basecdn }}v2/l/{{ post.listing_id }}/{{post.images[0].basename}}-300x225.jpg" alt="img" /></a>
        <div class="blackBand"></div>
        <div class="flag flag4">Philippines</div> 
        <div class="name">{{ post.title }}</div>
        <div class="location">{{ post.city }}, {{ post.country }}</div>
        <div class="money">{{ post.property_price }}</div>
        <div class="size"><strong>Size:</strong> {{ post.property_size }}</div>
        <div class="type"><strong>Type:</strong> {{ post.property_type }}</div>
        <div class="base"></div>
      </div>    