      <div class="slide3 {{ include.extra_class}}">
        <a href="{{ post.url }}"><img src="/img/prop3.jpg" alt="img" /></a>
        <div class="blackBand"></div>
        <div class="flag flag4">Philippines</div> 
        <div class="name">{{ post.title }}</div>
        <div class="location">{{ post.city }}, {{ post.country }}</div>
<!--        <div class="money">$50,000,000</div>-->
        <div class="size"><strong>Size:</strong> 3,363 sq ft - {{ forloop.index }}</div>
        <div class="type"><strong>Property Type:</strong>  Villa</div>
        <div class="base"></div>
      </div>    