      <div class="slide3">
        <a href="/philippines/makati-city/the-lerato"><img src="/img/prop3.jpg" alt="img" /></a>
        <div class="blackBand"></div>
        <div class="flag flag4">Philippines</div> 
        <div class="name">The Lerato</div>
        <div class="location">Makati City, Philippines</div>
        <div class="money">$50,000,000</div>
        <div class="size"><strong>Size:</strong> 3,363 sq ft</div>
        <div class="type"><strong>Property Type:</strong>  Villa</div>
        <div class="base"></div>
      </div>    
      
      <div class="slide3">
        <a href="/philippines/makati-city/escala-salcedo"><img src="/img/prop3.jpg" alt="img" /></a>
        <div class="blackBand"></div>
        <div class="flag flag4">Philippines</div>  
        <div class="name">Escala Salcedo</div>
        <div class="location">Makati City, Philippines</div>
        <div class="money">$50,000,000</div>
        <div class="size"><strong>Size:</strong> 3,363 sq ft</div>
        <div class="type"><strong>Property Type:</strong>  Villa</div>
        <div class="base"></div>
      </div>