<!DOCTYPE html>
<html>
<!--[if lt IE 8]> <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 oldie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  {% include head.html %}
  <script type="text/javascript" src="/js/lightbox/js/jquery.lightbox.js"></script>
  <link rel="stylesheet" type="text/css" href="/js/lightbox/css/jquery.lightbox.css" media="screen" />
{% include partials/twitter_card_listing.html %}
{% include partials/facebook_card_listing.html %}
</head>

<body>
  <div class="listingTop">
    {% include header.html %}
    {% include breadcrumbs.html %}
  </div>
<div class="wrapper">
  <div class="content clearfix">
  
    <div class="listingLeft">
    
      <h1>{{ page.title }}</h1>
      <h2>{{ page.excerpt }}</h2>

      <div class="show4"> 
          
        <div class="slide">
          <ul class="show4-img">
           
            {% for image in page.images %}
            <li>
              <div class="slide4">
                <a href="{{ site.basecdn }}v2/l/{{ page.listing_id }}/{{image.basename}}-620x465.jpg">
                  <img src="/img/list/resize.png" class="resize roller" alt="ok" />
                </a>
                <img src="{{ site.basecdn }}v2/l/{{ page.listing_id }}/{{image.basename}}-620x465.jpg" alt="img" />
                <span>{{ image.caption }}</span>
                <div class="blackBand"></div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div> 
      </div>
      
      <div class="thumbs4 thumbs clearfix">
      <ul class="show5-img">
      {% for image in page.images %}
        {% assign class="" %}
        {% if forloop.index == 1 %}
          {% assign class="active" %}
        {% endif %}
       <li>
        <a class="{{ class }}" href="{{ site.basecdn }}v2/l/{{ page.listing_id }}/{{image.basename}}-620x465.jpg">
          <img src="{{ site.basecdn }}v2/l/{{ page.listing_id }}/{{image.basename}}-80x60.jpg" alt="img" class="roller" />
        </a>
      </li>
      {% endfor %}
      </ul>
      </div>
      
      {{ content }}

      <div class="clear"></div>
      <h3>Comments &amp; Discussion</h3>
      <p>We kindly request and expect civilised discourse in this community. Comments that are offensive, off-topic or
        of an inappropriate nature will not be tolerated.</p>
    <hr />
      {% include partials/disqus_comments.html %}
    </div>
    
    <div class="listingRight">
      <div class="share">
        <a href="/">
          <img src="/img/list/home.png" class="home roller" />
        </a>
        <a href="https://twitter.com/home?status=Looking%20at%20{{site.url}}{{ page.url }}%20on%20@realestasia%20%23property%20%23asia">
          <img src="/img/list/twitter.png" class="tw roller" /></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}">
          <img src="/img/list/facebook.png" class="fb roller" /></a>        
        <span>Share this listing</span>      
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading"><h4 class="panel-title">Request more information</h4></div>
        <div class="panel-body">

       <div class="listing clearfix">
         <div class="left">
            <img src="{{ site.basecdn }}v2/l/{{ page.listing_id }}/{{page.images[0].basename}}-80x60.jpg" alt="txt" />
         </div>
         <div class="">
              <address>
                <strong>{{ page.title}}</strong><br />
                {{ page.city }}<br />
                {{ page.country }}
              </address>
         </div>
       </div>
          <p>Fill in your details to receive information on this development within 48 hours</p>
          <hr />
          <form class="enquiry-form" role="form" action="http://email.realestasia.com/t/y/s/fwzj/" method="post">
            <div class="form-group">
                <label for="fieldName">Name</label>
                <input name="cm-name" type="text" class="form-control" id="fieldName" placeholder="Your name">
            </div>
            <div class="form-group">
                <label for="fieldEmail">Email address</label>
                <input name="cm-fwzj-fwzj" type="email" class="form-control" id="fieldEmail" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="fieldcwuru">Phone</label>
                <input name="cm-f-cwuru" type="text" class="form-control" id="fieldcwuru" placeholder="Phone number">
            </div>
            <div class="form-group">
                <input id="fieldcwuyl" name="cm-f-cwuyl" type="hidden" value="{{ page.listing_id }}" /><!--Listing ID-->
                <input id="fieldcwuyr" name="cm-f-cwuyr" type="hidden" value="{{ page.url }}" /><!--URL-->
                <input id="fieldcwuyy" name="cm-f-cwuyy" type="hidden" value="{{ page.title}}" /><!--Listing Name-->
                <input type="submit" class="form-control btn btn-primary" id="submit" value="Request information">
            </div>
          </form>
        </div>
      </div>
            
      <div class="similar">
      <h3>Similar Listings</h3>

{% for post in site.posts %}
  {% if post.categories contains 'makati city' %}
    {% include partials/listing_sidebar.html %}
  {% endif %}
{% endfor %}
      </div>  
    </div>    
  </div>
</div>

    {% include footer.html %}

    </body>
</html>